@*@model ProblemsBlog.Models.UserPost*@
@model ProblemsBlog.Models.Comment
@using ProblemsBlog.Models

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/blog-post.css" rel="stylesheet" />
@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
<div>
    <div class="container">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <!-- Blog Post -->
                <!-- Title -->
                <h1>
                    @*@Html.DisplayFor(model => model.PostTitle)*@
                    @ViewBag.UserPost.PostTitle
                </h1>
                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> প্রকাশিত হয়েছে- @ViewBag.UserPost.Time
    @*@Html.DisplayFor(model => model.Time)*@</p>

                <hr>
                <!-- Author -->
                <p class="lead">লিখেছেন-@ViewBag.UserPost.Author
    @*@Html.DisplayFor(model => model.Author)*@</p>
                <hr>
                <!-- Preview Image -->
                @*@html.displayfor(model=> model.Image)*@
                <img class="img-responsive" src="/@ViewBag.UserPost.Image">
                <hr>
                <!-- Post Content -->
                <p class="lead">
                    @ViewBag.UserPost.PostContent
                </p>
                <hr>
                <!-- Blog Comments -->
                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
             

            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>
